<div style="height: 100%;" class="bg-white shadow">
  <div class="py-3">
    <img src="//picsum.photos/320" style="width: 80%;" class="rounded-circle d-block mx-auto">
  </div>
  <ul class="nav flex-column">
    <li class="nav-item"><%= link_to tag.i('', class: 'bi bi-person me-2') + 'Hello', dashboard_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to tag.i('', class: 'bi bi-person me-2') + 'Hello', dashboard_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to tag.i('', class: 'bi bi-person me-2') + 'Hello', dashboard_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to tag.i('', class: 'bi bi-person me-2') + 'Hello', dashboard_path, class: 'nav-link' %></li>
  </ul>
</div>