<div id="<%= dom_id proof_of_address %>">
  <p>
    <strong>User:</strong>
    <%= proof_of_address.user_id %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= proof_of_address.document %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= proof_of_address.status %>
  </p>

</div>
